@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

section {
    height: 100vh;
}

/* First slide */


#background-video {
   width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
   pointer-events: none;
}

.info {
    color: #fff;
    padding-left: 50px;
    font-size: 25px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    margin: 20px auto;
    left: -100%;
    animation: slide-in 2s ease-out 3s forwards;
}
    
    @keyframes slide-in {
        0% {
            left: -50%;
        }
        100% {
            left: 0;
        }
    }
    






/* Second slide */


.bio {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: -100%;
}

img {
    width: 50vh;
    border-radius: 10px;
}



.text-container{
    color: #fff;
    width: 70vh;
    height: 70vh;
}






.text-container h1 {
    font-size: 70px;
}


.about{
    text-align: left;
    font-size: 15px;
    padding-top: 5vh;
}






/* Third slide */

.video {

    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.title-slide {
    font-size: 50px;
    text-align: center;
    word-spacing: 20px;
    padding: 30px 0 0 0 ;
}



.video-lists {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.video-lists a {
    margin-left: 10vh;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding-top: 40px;
    width: fit-content;
    block-size: fit-content;
}

.video-lists a:hover {
    opacity: 0.7;
}







/* Fourth slide */


.contact {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.fab {
    font-size: 50px;
    text-decoration: none;
    margin: 0px 50px 75px 50px;
    transition: 1s;
}






/* Change color Hover */


.fa-facebook:hover {
    color: #1877f2;
}
.fa-youtube:hover {
    color: #ff0000;
}
.fa-twitter:hover {
    color: #1da1f2;
}
.fa-instagram:hover {
    color: #c32aa3;
}
.fa-linkedin:hover {
    color: #0a66c2;
}
.fa-github:hover {
    color: #333;
}










/* Footer */

footer {
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
    height: 5vh;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}







/* Responsive Web Design */
@media only screen and (max-width:767px){
    /* For Mobile */
    /* First slide */
    .info {
        font-size: 10px;
        line-height: normal;
        padding-top: 15px;
    } 
}